header {
    height: 70px;

    background-color: blue;
}


main {
    height: calc(100vh - 70px);
}

.my_sidebar {
    height: 100%;
    width: 100px;
    background-color: lime;
}

.my_maincontent {

    height: 100%;
    width: calc(100% - 100px);
    background-color: black;

}






.my_bg-black {

    background-color: black;

    
}

.my_bg-pink {
    background-color: pink;
}

.my_bg-red {
    background-color: red;
}


